{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "ignore": [
    "./.idea",
    "./.git",
    "./.gitignore",
    "./node_modules",
    "./*.test.js"
  ]
}